
  <!-- Validation failure messages -->
  <% if @target_organization.errors.any? %>
    <% @target_organization.errors.full_messages.each do |message| %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="page-header">
        <h3>Let's Add a New Target Organization</h3>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <form action="/create_target_organization" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      
            <!-- Label and input for user_id -->
            <div class="form-group">
              <label for="user_id" class="control-label">
                User
              </label>
      
              <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @target_organization.user_id %>">
            </div>
      
            <!-- Label and input for org_name -->
            <div class="form-group">
              <label for="org_name" class="control-label">
                Organization Name
              </label>
      <!--I need to do something with the line below. removed value="<??= @target_organization.org_id %>-->
              <input type="text" id="org_name" name="org_name" placeholder="Which organization?" class="form-control">
            </div>
            
            <!-- Label and input for org_id -->
            <div class="form-group">
              <label for="org_url" class="control-label">
                Organization Website
              </label>
              <input type="text" id="org_url" name="org_url" placeholder="Where can you find them?" class="form-control">
            </div>
      
            <!-- Label and input for priority_order //-->
            <div class="form-group">
              <label for="position" class="control-label">
                Priority order
              </label>
      
              <input type="text" id="position" name="position" placeholder="Where would you rank this one?" class="form-control" value="<%= @target_organization.priority_order %>">
            </div>
      
            <button class="btn btn-success">
              Add
              <!--Create Target Organization-->
            </button>
            or
            <a href="/target_organizations">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
