<!--<require 'pqueue'%>-->

<!--    < pq = PQueue.new([2,3,1]){ |a,b| a > b }%>-->

<!--    < pq.pop %>  #=> 3-->

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="jumbotron">
        <h1>
            Next Step
        </h1>
        <h2>
            <%= @next_step %>
        </h2>
        <h2>
           <%= @contact_info %>
        </h2>
      </div>

    </div>
  </div>
</div>